.container {
  display: flex;
  flex-basis: 28%;
}
.content {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.desc p {
  margin: 0;
}
.desc a {
  font-weight: 700;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
